[project]
	description = "Homescreen is the first screen that appears when the device is started.  This the center hub to launch applications."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/Steve Mattison (smattiso)
[access "refs/for/refs/*"]
	read = group user/Marco Morales (mmorale1)
	push = group user/Marco Morales (mmorale1)
	label-Code-Review = -2..+2 group user/Marco Morales (mmorale1)
	label-Verified = -1..+1 group user/Marco Morales (mmorale1)
	rebase = group user/Marco Morales (mmorale1)
	removeReviewer = group user/Marco Morales (mmorale1)
	submit = group user/Marco Morales (mmorale1)
[access "refs/heads/*"]
	read = group user/Marco Morales (mmorale1)
	create = group user/Marco Morales (mmorale1)
	push = +force group user/Marco Morales (mmorale1)
	pushMerge = group user/Marco Morales (mmorale1)
[access "refs/tags/*"]
	push = +force group user/Marco Morales (mmorale1)
	pushTag = group user/Marco Morales (mmorale1)
	pushSignedTag = group user/Marco Morales (mmorale1)
